
    <div class="ae-container-fluid ae-container-fluid--inner rk-main animated fadeIn">
      <h1 align="center">Nosotros</h1>
      <div class="ae-grid au-xs-ta-center au-mb-4">
        <div *ngFor="let miembro of _is.equipo"class="ae-grid__item item-lg-4 ae-kappa au-mb-3">
          <img [src]="miembro.url" alt="" class="au-mb-3">
          <h5 class="ae-u-bolder au-mt-2"> {{miembro.nombre}} </h5>
          <p class="ae-u-bolder au-mb-3">{{miembro.puesto}}</p>
          <p class="ae-u-bolder au-mb-3">{{miembro.subtitulo}}</p>
          <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">{{miembro.frase}}</p>
          <a href="https://twitter.com/{{miembro.twitter}}" target="_blank" class="ae-u-bolder au-underline">{{miembro.twitter}}</a>
        </div>
      </div>
      <div class="ae-grid au-pt-2">
        <div class="ae-grid__item item-lg-8 item-lg--offset-2">
          <h4 class="ae-u-bolder">Misión:</h4>
          <p>Comercializadora CHAGRA S.A DE C.V. es una empresa responsable con sus principales clientes y que lleguen alimentos de calidad a las mesas de los consumidores.</p>
        </div>
      </div>
      <div class="ae-grid ae-grid--alt au-xs-ptp-1">
        <div class="ae-grid__item--alt item-lg-4">
          <h6 class="ae-u-boldest">Visión</h6>
          <p class="au-lh-3">Crear una organización productiva, sustentable y plenamente comprometida con el personal  y clientes, asi como expandir nuestro mercado a diferentes supermercados y nuestros productos llegen a mas mesas mexicanas. </p>
        </div>
        <div class="ae-grid__item--alt item-lg-4">
          <h6 class="ae-u-boldest">Valores:</h6>
          <p class="au-lh-3">Chagra S.A de C.V. es una empresa mexicana que toma en cuenta los valores no solo de laorganizacion sino igual manera los valores que rigen a  cada persona que colabora con nosotros. </p>
        </div>
        <div class="ae-grid__item--alt item-lg-4">
          <ul >
          <li type="circle">  Integridad: ser autenticos.</li>
          <li type="circle">  Calidad: lo que hacemos, lo hacemos bien.</li>
          <li type="circle">  Responsabilidad: lo que sucede depende de uno mismo.</li>
          <li type="circle">  Liderazgo: el coraje de forjar un futuro mejor.</li>
          <li type="circle">  Trabajo en equipo: potenciar el talento colectivo.</li>
          <li type="circle">  Pasión: comprometidos con lo que nos gusta hacer.</li>
          </ul>

        </div>
      </div>
      <p class="au-flex au-pt-4 group-buttons"><a href="portfolio.html" class="au-mt-4 arrow-button arrow-button--right arrow-button--out">Ver el catalogo<span class="arrow-cont">
            <svg>
              <use xlink:href="assets/img/symbols.svg#arrow"></use>
            </svg></span></a></p>
    </div>
