
<div class="ae-container-fluid ae-container-fluid--inner rk-main">
<h2 align="center" class="ae-u-bolder au-mb-3 conatct__title">Contactanos</h2>
  <div class="ae-grid">

    <div class="ae-grid__item item-lg-6 item-lg--offset-7">

      <p class="au-mb-4 contact__desc">Hola, nuestro formulario<a href="#contact-form"> se encuentra en la</a> parte de abajo!<br>Estamos para servirte.</p>
    </div>
  </div>
  <div class="ae-grid">
    <div class="ae-grid__item item-lg-6">
      <div id="map-container">
        <img src="../../../../assets/img/ubicacion.jpg" alt="" style="max-width: 600px; width: 194%;">
        <svg>
          <use xlink:href=""></use>
        </svg>
      </div>
    </div>
    <div class="ae-grid__item item-lg-6">
      <div class="ae-grid ae-grid--collapse">
        <div class="ae-grid__item item-lg-2 au-v-hidden au-lg-v-visible">
          <button id="map-arrow" class="arrow-button arrow-button--nospace arrow-button--center arrow-button--flip">
            <svg>
              <use xlink:href="assets/img/symbols.svg#arrow"></use>
            </svg>
          </button>
        </div>
        <div class="ae-grid__item item-lg-10 au-xs-ta-center au-lg-ta-left">
          <p class="au-mb-4 contact__addr">Dirección:<br> Tenancalco No. 9 Miguel Hidalgo,<br>1° sección Tlalpan CP. 14260</p>
          <p> <span class="contact__phone"> <span class="rk-light-color">Teléfono: </span> 56650736  ext. 111</span><br><span class="contact__email au-block au-truncate"> <span class="rk-light-color">Email &nbsp;&nbsp; </span><a href="#0"></a></span></p>
        </div>

      </div>
      <div class="ae-grid ae-grid--collapse">
        <div class=" item-lg-12">
          <form id="contact-form" action="#0" class="ae-form--full">
            <input type="text" placeholder="* Nombre" required>
            <input type="email" placeholder="* Email" required>
            <textarea placeholder="Mensaje ..." cols="30" rows="4"></textarea>
            <p class="au-xs-ta-right au-pt-4 group-buttons">
              <a href="#0" class="arrow-button arrow-button--right arrow-button--out">Enviar<span class="arrow-cont">
                  <svg>
                    <use xlink:href="assets/img/symbols.svg#arrow"></use>
                  </svg>
                </span>
              </a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
